body{
    font-family: "Poppins", sans-serif;
}
h1{
  font-size: 50px;
}
section{
  margin-bottom: 50px;
}
.orange{
  color: rgb(227, 151, 10);
}
#blue{
  color: darkslateblue;
}
#weight{
  font-weight: 600;
  font-size:20px;
  text-align: justify;
}
.flexible{
  display: flex;
}
.half-width{
  width: 50%;
  padding-left: 70px;
}
.center{
  text-align: center;
  
}
#anchor1{
  text-decoration: none;
  font-weight: 600;
  font-size:20px;
  background-image: linear-gradient(rgb(65, 65, 119),rgb(103, 51, 103));
  padding: 10px 40px;
  color:white;
  border-radius: 10px;
}
#teacher{
  color: rgb(37, 126, 126);
}
h3{
  font-weight: 700;
}
.mid{
  text-align: center;
}
.shadow{
  box-shadow: 10px 10px 60px gray;
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 10px;
}
.size{
  font-size: 35px;
}
span{
  color: rgba(139, 0, 139, 0.769);
  margin-left: 5px;
}
#safin{
  border-left: 7px solid;
  border-bottom: 7px solid;
  border-image: linear-gradient(purple,rgb(236, 7, 236));
  border-image-slice:1 ;
  border-image-slice: 4;
}
#zisha{
  border-left: 7px solid;
  border-bottom: 7px solid;
  border-image: linear-gradient(blue,rgb(18, 211, 211));
  border-image-slice: 1;
  border-image-slice: 4;
  
}
#service{
  color: rgb(40, 63, 106);
}
footer{
  text-align: center;
}
